body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
}
.screen {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin: 6px;
}
#display {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    background-color: #f1f1f1;
}
.keys {
    margin-top: 20px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.btn{
    flex: 1;
    padding: 22px;
    margin: 6px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.clear {
    border-radius: 10px;
    background-color: #f44336;
    color: #fff;
}
.operator {
    background-color: #f39c12;
    color:#fff;
}
.equal {
    background-color: #27ae60;
    color:#fff;
}